@import "tailwindcss";

/* ===== FONT DEFINITIONS ===== */
@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi/Satoshi-Light.otf") format("opentype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi/Satoshi-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi/Satoshi-Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi/Satoshi-Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi/Satoshi-Black.otf") format("opentype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

:root {
	--font-satoshi: "Satoshi", sans-serif;
	--font-dm-sans: "DM Sans", sans-serif;
	--background: 0, 0, 0; /* #000000 */
	--foreground: 237, 237, 237; /* #ededed */
	--accent: 19, 162, 52; /* #13a234 */
	--success: 22, 163, 74; /* #16a34a */
	--destructive: 220, 38, 38; /* #dc2626 */
	--warning: 245, 158, 11; /* #f59e0b */
	--border: 255, 255, 255;
}

html[data-theme="light"] {
	--background: 237, 237, 237; /* #ededed */
	--foreground: 0, 0, 0; /* #000000 */
	--border: 0, 0, 0;
}

@theme inline {
	--color-background: rgb(var(--background));
	--color-foreground: rgb(var(--foreground));
	--color-accent: rgb(var(--accent));
	--color-success: rgb(var(--success));
	--color-destructive: rgb(var(--destructive));
	--color-warning: rgb(var(--warning));

	--color-border: rgba(var(--border), 0.06);

	--font-satoshi: var(--font-satoshi);
	--font-dm-sans: var(--font-dm-sans);
}

body {
	background: rgb(var(--background));
	color: rgb(var(--foreground));
	font-family: var(--font-satoshi);
}

.rotate-smooth {
	transition: transform 0.3s ease-out;
}

::-webkit-scrollbar {
	width: 5px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.05);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: rgb(var(--foreground));
	border-radius: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	opacity: 0;
	display: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
	opacity: 0;
	display: none;
}
